<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>{{ app_name }}</h1>

    <p>Server: {{ server_name }}</p>
    <p>Environment: {{ environment }}</p>
    <p>{{ app_message }}</p>
</body>
</html>
